.cuppa-dropdown {
    border: 1px solid #fff;
 
}
.selectedBox{
  width:200px;
  margin-top: 10px;
}
label{
    color:#000;
}

.text{
    margin-top: 30px;
    display: inline-block;
    padding-left: 130px;
}
.selectedBox  .dropdown-list{
    color:#000;
}
.heading{
    text-align:center;
}
h1 small{
    color:#fff;
    font-size: 50%;
}
h1{
    text-align: center;
    padding-left: 200px;
    text-shadow: 4px 4px 9px #9f4f4f;
}