<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="myNavbar">
     
        <h1 class="col-xs-8">
        Smart Shopper 
         </h1>
    
    <div class="col-xs-4">
      <span class="text">Your Accounts:</span>
      <angular2-multiselect class="pull-right" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
        (ngModelChange)="changeSelectBank($event)" (onSelect)="changeSelectBank($event)" (onSelectAll)="changeSelectBank($event)"
        (onDeSelectAll)="changeSelectBank($event)">
      </angular2-multiselect>
    </div>
    </div>
  </div>
 
</nav>