.code{
    font-weight: bold;
   

}


@keyframes slideInFromLeft {
    0% {
     transform: translateX(0);
      width:50%;
    }
    100% {
     transform: translateX(0);
      width:100%;
    }
  }
  .card-title{
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
  }
  .glyphicon{
    color: #2ea54d;
    margin-right: 10px;
    font-size: 18px;
  }  
  img {  
    animation-duration: 2s; /* the duration of the animation */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); /* how the animation will behave */
    animation-delay: 0s; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    animation-name: slideInFromLeft; /* the name of the animation we defined above */
    background: #333;

  }

  @keyframes fontFormat {
    0% {
     transform: translateX(0);
     font-size: 9px;
    }
    100% {
     transform: translateX(0);
    font-size:15px
    }
  }
  
  .code {  
    animation-duration: 2s; /* the duration of the animation */
    animation-timing-function: ease-in-out; /* how the animation will behave */
    animation-delay: 0s; /* how long to delay the animation from starting */
    animation-iteration-count: 1000; /* how many times the animation will play */
    animation-name: fontFormat; /* the name of the animation we defined above */
  

  }


 