<div class="card col-xs-3" *ngFor="let offerType of offerData; let i=index;">
  <img class="card-img-top" [src]="offerType.src" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{offerType.type}}</h4>
    <div class="" *ngFor="let offer of offerType.offers">
      <p>
          <span class="	glyphicon glyphicon-ok" *ngIf="moreData[i].type==offerType.type && moreData[i].name==offer.name"></span>

        <strong>{{offer.name}} : </strong>
      
        <span *ngIf="offer.name=='Coupon'" class="code">{{offer.coupon | uppercase}}</span>
     

        <br />
        {{offer.desc}}


      </p>
    </div>
  </div>
</div>