body{   
  background:  url(./assets/images/background1.jpg) 100% #b4d7e7;
    color:#312071;
}
.wrapper{
    width:1000px;
    margin: 0 auto;
}
.navbar-inverse {
    background: #4d0039;
    border-color: #14042b;
    box-shadow: 0px 0px 24px 6px #842576;
    color: #FFF;
    min-height: 85px;
}
.top10{
    margin-top:10px;
}

.selectedBox  .dropdown-list{
    color:#000;
}
.selected-list .c-angle-down svg, .selected-list .c-angle-up svg{
    fill:#FFF !important;
}
.card {
    border: 1px solid #f8a7f8;
    margin: 20px 15px;
    background: #f1f1f1;
    color: #074478;
    box-shadow: 2px 2px 15px 1px #ccc;
    padding: 0;
    min-height: 420px;
    width:28%;
}
img.card-img-top {
    width: 100%;
    display: inline-block;
}
.card-body{
    padding:15px;
}
